body.keybased-tree h3 {
    background-color: beige;
    font-weight: normal;
}

body.keybased-tree p#errormessage{
    display: none;
}

body.keybased-tree p#errormessage.active{
    display:inherit;
    color: red;
}

body.keybased-tree .column {
    float: left;
    width: 50%;
}

/* Remove default bullets */
body.keybased-tree ul#outarea{
    list-style-type: none;
}

/* show clickable */
body.keybased-tree li span {
    color: blue;
    /* text-decoration: underline; */
    cursor: pointer;
}

/* mark selected node */
body.keybased-tree li span.selected {
    border: red dotted 2px;
    background-color: bisque;
}

/* Clear floats after the columns */
body.keybased-tree .row:after {
    content: "";
    display: table;
    clear: both;
}

nav a.selected {
    background-color: rgb(249, 237, 217);
    color: darkgreen;
}

div.see_also {
    font-size: smaller;
    font-style: italic;
}

p#out {
    font-family: 'Console', Courier, monospace;
    font-size: smaller;
}

/* https://www.w3schools.com/howto/howto_js_treeview.asp */
/* Remove default bullets */
div#treeview ul {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
div#treeview #parentUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
div#treeview .caret {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
div#treeview .caret::before {
    /* content: "\25B6"; */
    /* https://unicode-table.com/de/sets/arrow-symbols/#right-arrows */
    content: "\27BD";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
div#treeview .caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
div#treeview .nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
div#treeview .active {
    display: block;
}